<div class="form-container mat-elevation-z5">
    <h1>Sign Up a New User!</h1>
    <form [formGroup]="signUpForm" (ngSubmit)="submit()">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" />
        <mat-error *ngIf="name?.errors?.['required']">
          Name is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email address" formControlName="email" />
        <mat-error *ngIf="email?.errors?.['required']">
          Email address is required
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          Please enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Password"
          formControlName="password"
        />
        <mat-error *ngIf="password?.errors?.['required']">
          Password is required
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          type="password"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <mat-error *ngIf="confirmPassword?.errors?.['required']">
          Confirm Password is required
        </mat-error>
      </mat-form-field>
      <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']">
          Passwords should match
      </mat-error>
      <div class="center margin-top">
        <button type="submit" mat-raised-button color="primary">Sign Up</button>
      </div>
      <div style="margin-top: 10px;">
      <p class="signin">Already have an acount ? <a routerLink="/login">Signin</a> </p>
    </div>
    </form>
  </div>

<!-- <div class="form-container mat-elevation-z5">
  <form class="form" [formGroup]="signUpForm" (ngSubmit)="submit()">
    <p class="title">Register </p>
    <p class="message">Signup now and get full access to our app. </p>
        
        <label>
            <input required="" placeholder="" type="text" class="input" formControlName="name">
            <span>Firstname</span>
        </label>        
    <label>
        <input required="" placeholder="" type="email" class="input" formControlName="email">
        <span>Email</span>
    </label> 
        
    <label>
        <input required="" placeholder="" type="password" class="input"  formControlName="password">
        <span>Password</span>
    </label>
    <label>
        <input required="" placeholder="" type="password" class="input" formControlName="confirmPassword">
        <span>Confirm password</span>
    </label>
    <button type="submit" class="submit" >Submit</button>
    <p class="signin">Already have an acount ? <a routerLink="/login">Signin</a> </p>
</form>
</div> -->